* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#personajes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.personaje {
    border: .1rem solid black;
}

.personaje__nombre {
    text-align: center;
    color: red;
}

.personaje__imagen {
    width: 200px;
    height: 200px;
}